@page "/"
@inject IRepositorio http;
@using Microsoft.Extensions.Logging
@using System.Text
@using static System.Net.Mime.MediaTypeNames
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>
<EditForm Model="Data">
<input @bind="Data.contenido"  />
<textarea class="form-control form-control-sm" style="height:250px" @bind="@dato"></textarea>
<InputFile OnChange="@LoadFiles" multiple></InputFile>
<button type="submit" class="btn btn-primary"  @onclick="@prueba" >Guardar</button>
<img src="@imageDataURL"/>
</EditForm>

@code{

    private QR Data = new();
    private string? dato;
    private string? imageDataURL;
    private string ImgB64;

    private async Task prueba()
    {
        var result = await http.PostImage<QR,string>($"https://localhost:7291/api/Accesos/QRwithLogo", new QR {contenido= Data.contenido, imagenB64 = ImgB64 });
        dato = result.Response;
        imageDataURL = "data:image/jpeg;base64," + dato;
    }
    private async void LoadFiles (InputFileChangeEventArgs file)
    {
        ImgUtil Consulta = new();
        ImgB64 = await Consulta.ConvertToImage(file.File.OpenReadStream());
    }

 
}

